body{
    margin: 0;
    background: rgb(245, 245, 245);
}

.wrapper{
    background: white;
    margin: auto;
    max-width: 1920px;
}

header{
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-between; 
    max-width: 1170px;
}

header .contacts{
    width: 45%;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
}

header .contacts a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    color: rgb(16, 16, 16);
}

header .phone{
    font-family: Montserrat;
    font-size: 18px;
    color: rgb(165, 36, 36);
}
